<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&display=swap');

  * {
    box-sizing: border-box;
  }

  body {
    background-color: #fdf6f0;
  }

  .container.mySlides {
    width: 40px;
    height: 40px;
  }

  /* .row .demo cursor {
    width: 20px;
    height: 40px;
} */

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: absolute;
    top: 50px;
    left: 600px;
    right: 30px;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
  /* .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
} */

  /* .row:after {
    content: "";
    display: table;
    clear: both;
} */

  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  * {
    font-family: 'Roboto', sans-serif;

    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;

  }

  .allinfo {
    position: absolute;
    left: 70px;
    width: 350px;
    top: 100px;

  }

  .main {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
  }

  .words {
    overflow: none;
  }

  .checked {
    color: rgb(103, 8, 81);
  }

  .unchecked {
    color: black;
  }

  .btn1-group button {
    background-color: #fdf6f0;
    /* color: rgb(103, 8, 81); */
    color: white;
    width: 350px;
    height: 50px;

    cursor: pointer;
    outline: none;
    border: 1px solid rgb(103, 8, 81);
  }

  .btn1-group {
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
  }

  .btn1-group a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(103, 8, 81);
  }

  .btn1-group a:hover {
    color: white;
  }

  .btn1-group button:hover {
    background-color: rgb(103, 8, 81);

  }

  .btn1-group button:hover a {
    color: white;
  }

  #quantity {
    border: solid 1px;
    border-radius: 3px;
    background-color: #fdf6f0;
  }
</style>

<body>
  <div class="allinfo">
    <br>
    <h1>
      <%= items.name %>
    </h1>
    <div style="margin:10px ;padding:10px" class="main">
      <i class="fa fa-star checked" id="one"></i>
      <i class="fa fa-star checked" id="two"></i>
      <i class="fa fa-star checked" id="three"></i>
      <i class="fa fa-star unchecked" id="four"></i>
      <i class="fa fa-star unchecked" id="five"></i>
    </div>
    <div class="words">
      <h4>DESCRIPTION:</h4>
      <%= items.desc %>
    </div>
    <br>
    Quantity: <input type="number" id="quantity" name="quantity" min="1" max="5" value="1">
    <br>
    <br>
    <div class="btn1-group">
      <button><a href="#"> ADD TO BAG .<%= items.price %> EGP</a></button>
    </div>
  </div>



  <div class="container">
    <% for(i=0 ; i < items.num ; i++ ){ %>
      <div class="mySlides">
        <div class="numbertext">
          <%= i+1 %> / <%= items.num %>
        </div>
        <img src="/uploads/<%= i %><%= items.img %>" style="width:100%;height: 600px;">
      </div>
      <% } %>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="caption-container">
          <p id="caption"></p>
        </div>

        <div class="row">
          <% for(i=0 ; i < items.num ; i++ ){ %>
            <div class="column">
              <img class="demo cursor" src="/uploads/<%= i %><%= items.img %>" style="width:100%;height: 100px;"
                onclick="currentSlide('<%= i+1 %>')">
            </div>
            <% } %>
        </div>
  </div>

  <script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("demo");
      let captionText = document.getElementById("caption");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      captionText.innerHTML = dots[slideIndex - 1].alt;
    }
  </script>

</body>

</html>