<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , intial-scale=1.0">
    <title>product makeup</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Tinos&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/makeup.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>

    <%- include('./companents/nav.ejs') %>
        <section class="shop" id="shop">
            <!-- <h1 class="heading">our <span>shop</span></h1> -->
            <h1 class="heading">Shop All Makeup Products</h1>
            <br>


            <!-- <div class="btn1-group"> -->
            <h2 class="headingg">CATEGORIES</h2>
            <!-- <div class="btn1-group"> -->
            <div class="btn1-group">
                <button style="width: 60px; height: 40px;"><a href="/">home</a></button>
                <button style="width: 60px; height: 40px;"><a href="/product">ALL</a></button>
                <button style="width: 60px; height: 40px;"><a href="/productcategory/lip">Lip</a></button>
                <button style="width: 60px; height: 40px;"><a href="/productcategory/face">Face</a></button>
                <button style="width: 60px; height: 40px;"><a href="/productcategory/eye">Eye</a></button>
                <button style="width: 60px; height: 40px;"><a href="/productcategory/skincare">Skincare</a></button>


            </div>


            <div class="box-container">
                <% items.forEach(function(image) { %>
                    <div class="box">
                        <div class="container">
                            <div class="img">
                                <img src="/uploads/0<%= image.img %>" class="image">
                                <div class="overlay">
                                    <div class="text">
                                        <a href="/product_details/<%= image.id %>">
                                            <img src="/uploads/1<%= image.img %>">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="content">
                            <h3>
                                <%= image.name %>
                            </h3>
                            <div style="margin:10px ;padding:10px" class="main">
                                <i class="fa fa-star checked" id="one"></i>
                                <i class="fa fa-star unchecked" id="two"></i>
                                <i class="fa fa-star unchecked" id="three"></i>
                                <i class="fa fa-star unchecked" id="four"></i>
                                <i class="fa fa-star unchecked" id="five"></i>
                            </div>
                            <!-- <div class="pitce">$40 <span>$200.99</span></div> -->
                            <!-- <a href="#" class="btn">add to cart</a> -->
                            <div class="btn1-group">
                                <button><a href="#"> A d d t o B A G .<%= image.price %></a></button>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </section>
        <%- include('./companents/footer.ejs') %>
            <script src="/js/footer.js"></script>
            <link rel="stylesheet" type="text/css" href="css/footer.css" />









</body>

</html>